<!-- Page Title
		============================================= -->
<script src="../../../../talented_front_angular/src/app/list-jobs/list-jobs.component.ts"></script>
<section id="page-title" class="page-title-mini">

  <div class="container clearfix">
    <h1>Planning</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Planning</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">
    <div class="container clearfix" >
      </div>
  </div>

</section><!-- #content end -->
