<!-- Page Title
		============================================= -->

<section id="page-title" class="page-title-mini">

  <div class="container clearfix">
    <h1>Planning</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Planning</li>
    </ol>
  </div>

</section><!-- #page-title end -->
<!-- Include Date Range Picker -->
<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">
    <div class="container clearfix" >

      <form action="#" method="post" class="nobottommargin">
        <!--<div class="input-daterange travel-date-group bottommargin-sm" >
        <div class="row">

          <div class="col-sm-6 bottommargin-sm">
            <input type="date" [(ngModel)]="startDate" name="date" class="sm-form-control tleft today">
          </div>
          <div class="col-sm-6 bottommargin-sm">
            <input type="date" [(ngModel)]="endDate" name="date" class="sm-form-control tleft today">
          </div>
        </div>
      </div>-->
        <div>

        <label>Distance max (km)</label>
          <mat-slider [value]="distanceMax"
                      tickInterval="1"
                      min="1"
                      max="100"
                      step="1"
                      thumb-label= true>

          </mat-slider>
        </div>
        <span class="button btn-info" (click)="adviseNewSchedule()">Optimiser mon planning</span>
      </form>

      <div *ngIf="displayPlanning">
        <div class="divider divider-short divider-rounded divider-center"><i class="icon-calendar"></i></div>
        <calendar [events]="calEvents"></calendar>
      </div>

<!-- DATE AND TIME PICKER NOT WORKING CANVAS
        <div class="col-sm-6 bottommargin-sm">
          <label >Date Range</label>
          <div class="input-daterange input-group">
            <input type="text" value="" class="sm-form-control tleft" placeholder="MM/DD/YYYY">
            <span class="input-group-addon">to</span>
            <input type="text" value="" class="sm-form-control tleft" placeholder="MM/DD/YYYY">
          </div>
        </div>

      <div class="col-md-6 bottommargin">
        <label>Date and Time Range Picker:</label>
        <input type="text" class="sm-form-control daterange2" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
      </div>-->

    </div>
  </div>

</section><!-- #content end -->
