<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="row clearfix">

        <div class="col-sm-9">

          <img src="../../assets/images/team/{{user.picture}}"
               class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar"
               style="max-width: 84px;">


          <div class="heading-block noborder">
              <h3>{{user.firstName}} {{user.lastName}}</h3>
              <span>{{user.username}}</span>
              <span class="product-rating">
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star-half-full"></i>
            </span>
          </div>

          <div class="fancy-title ">

            <a href="#" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-gplus si-small si-rounded si-light" title="Google+">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>


            <a href="#" class="social-icon si-linkedin si-small si-rounded si-light" title="LinkedIn">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon si-twitter si-small si-rounded si-light" title="Twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>
          </div>
          <div class="clear"></div>


          <div class="row clearfix">

            <div class="col-md-12">

              <div class="tabs tabs-alt clearfix" id="tabs-profile">

                <div class="tab-container" [ngSwitch]="currentTab">

                  <div class="tab-content clearfix" id="tab-feeds" *ngSwitchCase="tabs.PROFILE">
                    <div class="panel panel-default nbottommargin">
                      <div class="panel-body" style="padding:40px">
                        <form>

                          <div class="col_half">
                            <label>Prénom
                              <small>*</small>
                            </label>
                            <input type="text" [value]="user.firstName" class="sm-form-control required"/>
                          </div>

                          <div class="col_half col_last">
                            <label>Nom
                              <small>*</small>
                            </label>
                            <input type="text" [value]="user.lastName" class="sm-form-control required"/>
                          </div>

                          <div class="form-group">
                            <select class="sm-form-control" value="sexe">
                              <option value="homme">Sexe</option>
                              <option value="femme">Femme</option>
                              <option value="homme">Homme</option>
                              <option value="femme">Autre</option>
                            </select>
                          </div>

                          <div class="col_half">
                            <label>Login
                              <small>*</small>
                            </label>
                            <input type="text" [value]="user.username" class="sm-form-control required"/>
                          </div>

                          <div class="col_half col_last">
                            <label>Mot de passe
                              <small>*</small>
                            </label>
                            <input type="password" [value]="" class="sm-form-control required"/>
                          </div>

                          <div class="col_half">
                            <label>Email
                              <small>*</small>
                            </label>
                            <input type="email" [value]="user.email" class="sm-form-control required"/>
                          </div>

                          <div class="col_half col_last">
                            <label>Téléphone
                              <small>*</small>
                            </label>
                            <input type="tel" [value]="user.phone" class="sm-form-control required"/>
                          </div>


                          <button type="submit" class="btn btn-danger">Enregistrer</button>

                        </form>
                      </div>
                    </div>


                  </div>
                  <div class="tab-content clearfix" id="tab-replies" *ngSwitchCase="tabs.MESSAGES">
                    <p>A faire</p>
                  </div>

                  <div class="tab-content clearfix" id="tab-replies" *ngSwitchCase="tabs.AVIS">

                    <div class="clear topmargin-sm"></div>
                    <ol *ngFor="let review of (reviews ? reviews.slice(0,limit): [])"  class="commentlist noborder nomargin nopadding clearfix">
                      <li class="comment even thread-even depth-1" id="li-comment-1">
                        <div id="comment-1" class="comment-wrap clearfix">
                          <div class="comment-meta">
                            <div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img src="../../assets/images/team/{{review.picture}}" alt='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60'
                                       class='avatar avatar-60 photo avatar-default' height='60' width='60'/></span>
                            </div>
                          </div>
                          <div class="comment-content clearfix">
                            <div class="comment-author">{{review.username}}<span><a href="#" title="Permalink to this comment">{{review.date}}</a></span>
                            </div>
                            <p>{{review.comment}}</p>
                            <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </li>

                    </ol>

                  </div>
                  <div class="tab-content clearfix" id="tab-connections" *ngSwitchCase="5">
                    <p>A faire</p>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="line visible-xs-block"></div>

        <div class="col-sm-3 clearfix">

          <div class="list-group">

            <ul class="sidenav">
              <li [ngClass]="{'ui-tabs-active': currentTab===tabs.PROFILE}"><a (click)="currentTab=tabs.PROFILE"><i class="icon-user pull-right"></i>Profile</a></li>
              <li [ngClass]="{'ui-tabs-active': currentTab===tabs.MESSAGES}"><a (click)="currentTab =tabs.MESSAGES"><i class="icon-comment pull-right"></i>Messages</a></li>
              <li [ngClass]="{'ui-tabs-active': currentTab===tabs.JOBS}"><a (click)="currentTab =tabs.JOBS"><i class="icon-tint pull-right"></i>Jobs</a></li>
              <li [ngClass]="{'ui-tabs-active': currentTab===tabs.AVIS}"><a (click)="currentTab =tabs.AVIS"><i class="icon-users pull-right"></i>Avis</a></li>
              <li [ngClass]="{'ui-tabs-active': currentTab===tabs.CONFIGURATION}"><a (click)="currentTab =tabs.CONFIGURATION"><i class="icon-cog pull-right"></i>Configuration</a></li>
            </ul>

          </div>


        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->
