<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-mini">

  <div class="container clearfix">
    <h1>Inscription</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Inscription</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">


        <div class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>Nouveau ?
          Devenez TalentWorker
        </div>



      <div [hidden]="user2">

        <form [formGroup]="registerForm" >
          <div class="form-group">

            <label for="username">login</label>
            <input id="username" class="form-control"
                   formControlName="username" required>

            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                 class="alert alert-danger">

              <div *ngIf="username.errors.required">
                {{formErrors.username.required}}
              </div>
              <div *ngIf="username.errors.minlength">
                {{formErrors.username.minlength}}
              </div>
            </div>
          </div>

          <div class="form-group">

            <label for="password">mot de passe</label>
            <input id="password" class="form-control"
                   formControlName="password" type="password" required>

            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger">

              <div *ngIf="password.errors.required">
                {{formErrors.password.required}}
              </div>
              <div *ngIf="password.errors.minlength">
                {{formErrors.password.minlength}}
              </div>
            </div>
          </div>

          <div class="form-group">

              <label for="firstname">Prénom</label>
              <input id="firstname" class="form-control"
                     formControlName="firstname" required>

              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                   class="alert alert-danger">

                <div *ngIf="firstname.errors.required">
                  {{formErrors.firstname.required}}
                </div>
                <div *ngIf="firstname.errors.minlength">
                  {{formErrors.firstname.minlength}}
                </div>
              </div>
            </div>

          <div class="form-group">

            <label for="lastname">Nom</label>
            <input id="lastname" class="form-control"
                   formControlName="lastname" required>

            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                 class="alert alert-danger">

              <div *ngIf="lastname.errors.required">
                {{formErrors.lastname.required}}
              </div>
              <div *ngIf="lastname.errors.minlength">
                {{formErrors.lastname.minlength}}
              </div>
            </div>
          </div>

          <div class="form-group">

            <label for="email">Mail</label>
            <input id="email" class="form-control"
                   formControlName="email" required>

            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">{{formErrors.email.required}}</div>
              <div *ngIf="email.errors.email">{{formErrors.email.email}}</div>
            </div>
          </div>



          <div class="form-group">

            <label for="address">Adresse</label>
            <input id="address" class="form-control"
                   formControlName="address" required>

            <div *ngIf="address.invalid && (address.dirty || address.touched)"
                 class="alert alert-danger">
              <div *ngIf="address.errors.required">{{formErrors.address.required}}</div>
            </div>
          </div>


          <div class="form-group">
            <label>Les services que vous voulez rendre</label>
            <div *ngFor="let job of jobTypes">
              <input  type="checkbox" [checked]="true">
              <label  >{{job.name}}</label>
              <!-- TODO: style empeche de cocher/decocher la checkbox
              <input  class="checkbox-style"  type="checkbox" [checked]="true">
              <label  class="checkbox-style-3-label">{{job.name}}</label> -->
            </div>

          </div>

          <button type="submit" class="btn btn-default"
                  [disabled]="registerForm.invalid" (click)="onSubmit()" >Créer un compte
          </button>

        </form>
        </div>
        <div [hidden]="!user2" class="fancy-title title-dotted-border title-center">
          <h2><span>Votre compte a bien été créé</span></h2>
        </div>

      </div>

    </div>

  </div>


</section>
<!-- #content end -->

